<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>相册</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <style>
    .alert{
      display:none;
    }
    .list div:nth-of-type(n+4){
      display:none;
    }
  </style>
</head>
<body>
<div class="page-header container">
  <h2>留言本</h2>
</div>
<div class="container">
  <div class=" col-lg-5">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name">题目</label>
        <input id="title" type="text" class="form-control" placeholder="请输入题目">
      </div>
      <div class="form-group">
        <label for="name">内容</label>
        <textarea id="content" class="form-control" rows="4" placeholder="请输入内容"></textarea>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
          <p>&nbsp;</p>
          <button id="submit" type="button" class="btn btn-primary col-sm-3">发布</button>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span>
      </button>
      添加留言成功
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span>
      </button>
      添加留言失败
    </div>
  </div>
  <div class="col-lg-6 col-sm-offset-1">
    <ul class="pagination">
      <!-- <li><a href="#">&laquo;</a></li>-->
      <li class="active"><a href="javascript:;">1</a></li>
      <% for(var i = 1;i < page;i++){ %>
      <li><a href="javascript:;"><%= 1 + i %></a></li>
      <% } %>
      <!--<li><a href="javascript:;">&raquo;</a></li>-->
    </ul>
    <div class="list">
      <% for(var i = 0;i < message.length;i++){ %>
      <div class="well">
        <p>标题：<%= message[i].title %></p>
        <p>内容：<%= message[i].content %></p>
        <p>日期：<%= message[i].time %></p>
        <p><a class="del" href="javascript:;" data-id= <%= message[i]._id %>>删除</a></p>
      </div>
      <% } %>
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#submit").click(function () {
      var json = {};
      json.title = $("#title").val();
      json.content = $("#content").val();
      json.time = new Date();
      $("#title").val("");
      $("#content").val("");
      $.post("/submit", json, function (data) {
        console.log(data);
        if (data) {
          $(".list").prepend('<div class="well">\
            <p>标题：' + json.title + '</p>\
            <p>内容：' + json.content + '</p>\
            <p>日期：' + json.time + '</p>\
            <p><a class="del" href="javascript:;" data-id='+ data._id+ '>删除</a></p>\
          </div>');
          if(data.page>$(".pagination li").length){
            $(".pagination").append('<li><a href="javascript:;">'+data.page+'</a></li>');
          }
          $(".pagination").html(html);
          $(".alert-success").fadeIn();
          setTimeout(function () {
            $(".alert-success").fadeOut();
          }, 2000);
        } else {
          $(".alert-danger").fadeIn();
          setTimeout(function () {
            $(".alert-danger").fadeOut();
          }, 2000);
        }
      });
    });
    $(document).on("click", ".pagination li", function () {
      $(this).addClass("active").siblings().removeClass("active");
      $.get("/page?page=" + $(this).index(), function (data) {
        var html = "";
        for (var i = 0; i < data.length; i++) {
          html += ('<div class="well">\
            <p>标题：' + data[i].title + '</p>\
            <p>内容：' + data[i].content + '</p>\
            <p>日期：' + data[i].time + '</p>\
            <p><a class="del" href="javascript:;" data-id='+ data[i]._id+ '>删除</a></p>\
          </div>');
        }
        $(".list").html(html);
      })
    });
    $(document).on("click", ".del", function () {
      var This = this;
      $.get("/delete?id=" + $(this).data("id"), function (data) {
        if(data){
          window.location.href = window.location.href;
        }
      });
    })
  })
</script>
</body>
</html>